<div class="sizing">
  <div class="card w-100">
    <p class="card-header">Atlas Cluster Sizing Calculator</p>
    <div class="card-body">
      <div class="calculator">
        <div class="d-flex p-2 justify-content-start">
          <div class="ml-2 w-100">
            <div class="card" style="min-height: 315px">
              <p class="card-header">Storage</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Raw data size</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.storageRawDataSize"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">GB</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="text-right middle">Storage at Rest ({{mongoCalculator.percentageStorageAtRest}}%)</label>
                  </div>
                  <div>
                    <p>{{mongoCalculator.storageAtRestSize}} GB</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="text-right middle">Index storage ({{mongoCalculator.percentageStorageIndexes}}%)</label>
                  </div>
                  <div>
                    <p>{{mongoCalculator.storageIndexesSize}} GB</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="text-right middle"
                      >Journal, Log files etc. ({{mongoCalculator.percentageStorageLogs}}%)</label
                    >
                  </div>
                  <div>
                    <p>{{mongoCalculator.storageLogsSize}} GB</p>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between alert alert-success font-weight-bold"
                  role="alert"
                >
                  <label class="text-right middle"
                    >Total Disk storage required:</label
                  >
                  <span>{{mongoCalculator.storageTotalRequired}} GB</span>
                </div>
              </div>
            </div>
          </div>

          <div class="ml-2 w-100">
            <div class="card" style="min-height: 315px">
              <p class="card-header">Cpu & iops</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Peak DB</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.cpuPeakOpsPerSecond"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">Ops/second</span>
                    </div>
                  </div>
                </div>
                <div
                  class="mt-3 d-flex justify-content-between alert alert-success font-weight-bold"
                  role="alert"
                >
                  <label class="text-right middle"
                    >Total CPU Cores required ({{mongoCalculator.maxWorkloadEachCpu}} each):</label
                  >
                  <span>{{mongoCalculator.cpuTotalRequired}} Cores</span>
                </div>

                <div class="alert alert-success font-weight-bold" role="alert">
                  <div class="d-flex justify-content-between">
                    <label class="text-right middle"
                      >Total IOPS required (MIN) ({{mongoCalculator.percentageIopsMin}}%):</label
                    >
                    <span>{{mongoCalculator.iopsMinTotalRequired}}</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <label class="text-right middle"
                      >Total IOPS required (MAX) ({{mongoCalculator.percentageIopsMax}}%):</label
                    >
                    <span>{{mongoCalculator.iopsMaxTotalRequired}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ml-2 w-100">
            <div class="card" style="min-height: 315px">
              <p class="card-header">Ram</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Active/Hot data</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.ramHotDataSize"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">GB</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="text-right middle">Working set & Index ({{mongoCalculator.percentageRamSetAndIndex}}%)</label>
                  </div>
                  <div>
                    <p>{{mongoCalculator.ramSetAndIndexSize}} GB</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="text-right middle">FS Cache ({{mongoCalculator.percentageRamCacheSize}}%)</label>
                  </div>
                  <div>
                    <p>{{mongoCalculator.ramCacheSize}} GB</p>
                  </div>
                </div>
                <div
                  class="mt-4 d-flex justify-content-between alert alert-success font-weight-bold"
                  role="alert"
                >
                  <label class="text-right middle">Total RAM required:</label>
                  <span>{{mongoCalculator.ramTotalRequired}} GB</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p-2 justify-content-start">
          <div class="card ml-2 w-100">
            <p class="card-header">Shards</p>
            <div class="card-body">
              <table class="table table-hover text-center">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="font-weight-bold">Instance Type</th>
                    <th scope="col"># of shards by Storage</th>
                    <th scope="col"># of shards by RAM</th>
                    <th scope="col"># of shards by Cores</th>
                    <th scope="col"># of shards by IOPS</th>
                    <th scope="col" class="text text-success font-weight-bold">Total shards required</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="#shard of mongoCalculator.shards">
                    <td class="font-weight-bold">{{shard.instanceSize}}</td>
                    <td>{{shard.shardsByStorage}}</td>
                    <td>{{shard.shardsByRam}}</td>
                    <td>{{shard.shardsByCore}}</td>
                    <td>{{shard.shardsByIops}}</td>
                    <td class="text text-success font-weight-bold">{{shard.shardsTotalRequired}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
