<div class="sizing">
  <div class="card w-100">
    <p class="card-header">Atlas Cluster Sizing Calculator</p>
    <div class="card-body">
      <div class="calculator">
        <div class="d-flex p-2 justify-content-start">
          <div class="ml-2 w-100">
            <div class="card calculator-card">
              <p class="card-header">Storage</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Raw data size</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control {{mongoCalculator.storageRawDataSize > 0 ? 'is-valid' : 'is-invalid'}}"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.storageRawDataSize"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text alert-success">GB</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-4">
                    <label class="text-center middle">Storage at rest</label>
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control {{mongoCalculator.percentageStorageAtRest > 0 ? '' : 'is-invalid'}}"
                      type="number"
                      min="1"
                      max="100"
                      [(ngModel)]="mongoCalculator.percentageStorageAtRest"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="col-md-4">
                    {{mongoCalculator.storageAtRestSize}} GB
                  </span>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-4">
                    <label class="text-center middle">Index storage</label>
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="0"
                      max="100"
                      [(ngModel)]="mongoCalculator.percentageStorageIndexes"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="col-md-4"
                    >{{mongoCalculator.storageIndexesSize}} GB</span
                  >
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-4">
                    <label class="text-center middle">Journal, Log files</label>
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="0"
                      max="100"
                      [(ngModel)]="mongoCalculator.percentageStorageLogs"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="col-md-4"
                    >{{mongoCalculator.storageLogsSize}} GB</span
                  >
                </div>
                <div
                  class="
                    d-flex
                    justify-content-between
                    alert alert-success
                    font-weight-bold
                    p-1
                    m-0
                    pl-3
                    pr-3
                  "
                  role="alert"
                >
                  <label class="text-right middle m-0"
                    >Total Disk storage required:</label
                  >
                  <span
                    >{{mongoCalculator.storageTotalRequired}} GB</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="ml-2 w-100">
            <div class="card calculator-card">
              <p class="card-header">Cpu & iops</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-2 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Peak DB</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control {{mongoCalculator.cpuPeakOpsPerSecond > 0 ? 'is-valid' : 'is-invalid'}}"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.cpuPeakOpsPerSecond"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text alert-success"
                        >Ops/sec.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-7">
                    <label class="text-center middle"
                      >Maximum DB workload/CPU</label
                    >
                  </div>
                  <div class="input-group input-group-sm col-md-5">
                    <input
                      class="form-control {{mongoCalculator.maxWorkloadEachCpu > 0 ? '' : 'is-invalid'}}"
                      type="number"
                      min="1"
                      [(ngModel)]="mongoCalculator.maxWorkloadEachCpu"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">each</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-8">
                    <label class="text-center middle"
                      >Minimum write operations/second</label
                    >
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="1"
                      max="100"
                      [(ngModel)]="mongoCalculator.percentageIopsMin"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-8">
                    <label class="text-center middle"
                      >Maximum write operations/second</label
                    >
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="1"
                      max="100"
                      [(ngModel)]="mongoCalculator.percentageIopsMax"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>

                <div
                  class="alert alert-success font-weight-bold p-1 m-0 pl-3 pr-3"
                  role="alert"
                >
                  <div class="d-flex justify-content-between">
                    <label class="text-right middle"
                      >Total CPU Cores required:</label
                    >
                    <span>{{mongoCalculator.cpuTotalRequired}}</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <label class="text-right middle"
                      >Total IOPS required (MIN):</label
                    >
                    <span>{{mongoCalculator.iopsMinTotalRequired}}</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <label class="text-right middle m-0"
                      >Total IOPS required (MAX):</label
                    >
                    <span>{{mongoCalculator.iopsMaxTotalRequired}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ml-2 w-100">
            <div class="card calculator-card">
              <p class="card-header">Ram</p>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-0 form-inline">
                  <label class="text-right middle font-weight-bold"
                    >Active/Hot data</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control {{mongoCalculator.ramHotDataSize > 0 ? 'is-valid' : 'is-invalid'}}"
                      type="number"
                      min="1"
                      [disabled]="mongoCalculator.copyRamHotDataSizeFromStorageRawDataSize"
                      [(ngModel)]="mongoCalculator.ramHotDataSize"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text alert-success">GB</span>
                    </div>
                  </div>
                </div>
                <div class="form-check text-right mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="copyRamHotDataSizeFromStorageRawDataSize"
                    [(ngModel)]="mongoCalculator.copyRamHotDataSizeFromStorageRawDataSize"
                  />
                  <label
                    class="form-check-label text-right"
                    for="copyRamHotDataSizeFromStorageRawDataSize"
                  >
                    Copy from field <em>STORAGE: Raw data size</em>
                  </label>
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-4">
                    <label class="text-center middle"
                      >Working set & Index</label
                    >
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="0"
                      max="100"
                      step="0.1"
                      [(ngModel)]="mongoCalculator.percentageRamSetAndIndex"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="col-md-4"
                    >{{mongoCalculator.ramSetAndIndexSize}} GB</span
                  >
                </div>
                <div class="d-flex justify-content-between mb-1 form-inline">
                  <div class="col-md-4">
                    <label class="text-center middle">FS Cache</label>
                  </div>
                  <div class="input-group input-group-sm col-md-4">
                    <input
                      class="form-control"
                      type="number"
                      min="0"
                      max="100"
                      step="0.1"
                      [(ngModel)]="mongoCalculator.percentageRamCacheSize"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="col-md-4"
                    >{{mongoCalculator.ramCacheSize}} GB</span
                  >
                </div>
                <div
                  class="
                    d-flex
                    justify-content-between
                    alert alert-success
                    font-weight-bold
                    mt-4
                    p-1
                    pl-3
                    pr-3
                  "
                  role="alert"
                >
                  <label class="text-center middle m-0"
                    >Total RAM required:</label
                  >
                  <span
                    >{{mongoCalculator.ramTotalRequired}} GB</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p-2 justify-content-start">
          <div class="card ml-2 w-100">
            <p class="card-header">Shards</p>
            <div class="card-body">
              <table class="table table-hover text-center">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="font-weight-bold">Instance Type</th>
                    <th scope="col"># of shards by Storage</th>
                    <th scope="col"># of shards by RAM</th>
                    <th scope="col"># of shards by Cores</th>
                    <th scope="col"># of shards by IOPS</th>
                    <th scope="col" class="text text-success font-weight-bold">
                      Total shards required
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="#shard of mongoCalculator.shards">
                    <td class="font-weight-bold">{{shard.instanceSize}}</td>
                    <td>{{shard.shardsByStorage}}</td>
                    <td>{{shard.shardsByRam}}</td>
                    <td>{{shard.shardsByCore}}</td>
                    <td>{{shard.shardsByIops}}</td>
                    <td class="text text-success font-weight-bold">
                      {{shard.shardsTotalRequired}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
